# APPLICATION CONFIGURATION
APP_NAME=LiveStudio
APP_ENV=development    # Options: development (docs open) | staging (docs with auth) | production (docs disabled) | maintenance (docs disabled)
APP_DEBUG=true         # true = show detailed logs, false = minimal logs
APP_MAINTENANCE=false  # true = all requests return "Under Maintenance" message

# MODULE
GO_MODULE=github.com/royhairul/live-studio-api

# CORS CONFIGURATION
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:5174

# SERVER CONFIGURATION
SERVER_HOST=localhost
SERVER_PORT=8080
API_URL=http://localhost:8080/api

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=db_livestudio
DB_PORT=5432

# JWT CONFIGURATION
JWT_SECRET=YOUR_JWT_TOKEN
JWT_EXPIRED_AT=24h

# SUPERADMIN CONFIGURATION (also used for staging docs auth)
SUPERADMIN_NAME=YOUR_SUPERADMIN_NAME
SUPERADMIN_EMAIL=YOUR_SUPERADMIN_EMAIL
SUPERADMIN_PASS=YOUR_SUPERADMIN_PASS

# EMAIL CONFIGURATION
EMAIL_PASSWORD=YOUR_APP_PASSWORD
EMAIL_FROM=YOUR_EMAIL_ADDRESS
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
