# MODULE
GO_MODULE=github.com/royhairul/live-studio-api

# SERVER CONFIGURATION
SERVER_HOST=localhost
SERVER_PORT=8080

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=db_livestudio
DB_PORT=5432

# JWT CONFIGURATION
JWT_SECRET=YOUR_JWT_TOKEN
JWT_EXPIRED_AT=24h

# SUPERADMIN CONFIGURATION
SUPERADMIN_NAME=YOUR_SUPERADMIN_NAME
SUPERADMIN_EMAIL=YOUR_SUPERADMIN_EMAIL
SUPERADMIN_PASS=YOUR_SUPERADMIN_PASS